body {
  margin: 0; }

* {
  box-sizing: border-box; }

div,
section {
  display: block; }

.container-fluid, .container {
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.container {
  margin: auto; }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/* width */
::-webkit-scrollbar {
  width: 2px; }

/* Track */
::-webkit-scrollbar-track {
  background: #bcbcbc; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0285ca; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0285ca; }

.section_title {
  font-family: "helvetica_neue_lt_std57Cn";
  font-size: 3.5rem;
  line-height: 3.75rem;
  color: #002749;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .section_title {
      font-size: 2.5rem;
      line-height: 3rem; } }

.para_section {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: rgba(0, 39, 73, 0.8);
  font-family: "Helvetica Neue LT Std 55 Roman"; }

.sub_title {
  font-family: "helvetica_neue_lt_std65Md";
  font-size: 1rem;
  line-height: 1.25rem;
  color: #2eb8ff;
  margin-bottom: 20px;
  text-transform: uppercase; }

.text_btn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .text_btn {
      flex-wrap: wrap; } }
  .text_btn .text {
    width: 55%; }
    @media screen and (max-width: 767px) {
      .text_btn .text {
        width: 100%; } }
  .text_btn .btn {
    margin-bottom: 20px; }

.overview_section {
  padding: 100px 0; }
  @media screen and (max-width: 767px) {
    .overview_section {
      padding: 60px 0; } }
  .overview_section .overview {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .overview_section .overview {
        flex-wrap: wrap; } }
    .overview_section .overview .left_box {
      width: 40%; }
      @media screen and (max-width: 767px) {
        .overview_section .overview .left_box {
          width: 100%; } }
    .overview_section .overview .right_box {
      width: 56%; }
      @media screen and (max-width: 767px) {
        .overview_section .overview .right_box {
          width: 100%; } }

.financial_services {
  padding-bottom: 100px; }
  @media screen and (max-width: 767px) {
    .financial_services {
      padding-bottom: 60px; } }
  .financial_services .number_box {
    display: flex;
    grid-gap: 20px;
    justify-content: space-between;
    margin-top: 20px; }
    @media screen and (max-width: 992px) {
      .financial_services .number_box {
        flex-wrap: wrap; } }
    .financial_services .number_box .box {
      padding: 25px 20px;
      transition: all 0.5s;
      background-color: #f4f6f8; }
      @media (min-width: 768px) and (max-width: 992px) {
        .financial_services .number_box .box {
          width: 48.5%; } }
      .financial_services .number_box .box:hover {
        background-color: #002749; }
        .financial_services .number_box .box:hover .section_title {
          color: #f9c20a; }
        .financial_services .number_box .box:hover .para_section {
          color: #fff; }
      .financial_services .number_box .box .section_title {
        font-weight: 600;
        padding-bottom: 20px;
        font-family: "helvetica_neue_lt_std77BdCn"; }

.industries_section {
  padding-bottom: 100px; }
  @media screen and (max-width: 767px) {
    .industries_section {
      padding-bottom: 60px; } }
  .industries_section .industries {
    padding-top: 30px; }
    .industries_section .industries .swiper-slide {
      overflow: hidden;
      position: relative;
      background-color: #f3f9fd;
      transition: all 2s; }
      .industries_section .industries .swiper-slide:hover .hover_info {
        opacity: 1; }
      .industries_section .industries .swiper-slide .info {
        padding: 20px; }
      .industries_section .industries .swiper-slide .hover_info {
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        padding: 20px 15px;
        position: absolute;
        background-color: #002749; }
        .industries_section .industries .swiper-slide .hover_info h6 {
          font-size: 20px;
          line-height: 25px;
          color: #f9c20a;
          padding-bottom: 15px; }
        .industries_section .industries .swiper-slide .hover_info .para_section {
          font-size: 16px;
          line-height: 25px;
          color: #fff; }

.insights_section {
  padding-bottom: 20px; }
  .insights_section .inside_slider {
    padding-top: 20px; }
    .insights_section .inside_slider .swiper-wrapper .swiper-slide:hover {
      box-shadow: 0px 3px 26px 0px rgba(0, 39, 73, 0.1); }
    .insights_section .inside_slider .swiper-wrapper .swiper-slide .images {
      overflow: hidden; }
    .insights_section .inside_slider .swiper-wrapper .swiper-slide .info {
      padding: 20px; }
      .insights_section .inside_slider .swiper-wrapper .swiper-slide .info h6 {
        font-size: 16px;
        line-height: 25px;
        color: #2eb8ff;
        font-weight: 500;
        text-transform: uppercase;
        font-family: "helvetica_neue_lt_std65Md"; }
      .insights_section .inside_slider .swiper-wrapper .swiper-slide .info h5 {
        font-size: 16px;
        line-height: 25px;
        color: #002749;
        padding-top: 30px;
        font-family: "helvetica_neue_lt_std45_light"; }

.our_section {
  padding-bottom: 100px; }
  @media screen and (max-width: 767px) {
    .our_section {
      padding-bottom: 60px; } }
  .our_section .text_btn .text {
    width: 65%; }
    @media screen and (max-width: 767px) {
      .our_section .text_btn .text {
        width: 100%; } }
  .our_section .our_box {
    display: flex;
    grid-gap: 22px;
    flex-wrap: wrap;
    padding-top: 10px; }
    @media (min-width: 767px) and (max-width: 1200px) {
      .our_section .our_box {
        grid-gap: 18px; } }
    .our_section .our_box .box {
      width: 32%;
      padding: 35px;
      transition: all 0.5s; }
      @media screen and (max-width: 767px) {
        .our_section .our_box .box {
          width: 100%;
          padding: 10px; } }
      @media (min-width: 768px) and (max-width: 992px) {
        .our_section .our_box .box {
          width: 31.6%;
          padding: 10px; } }
      .our_section .our_box .box:hover {
        background-color: #002749; }
        .our_section .our_box .box:hover .para_section {
          color: #f9c20a; }
        .our_section .our_box .box:hover h6 {
          color: #fff; }
      .our_section .our_box .box h6 {
        font-size: 16px;
        line-height: 25px;
        color: #002749;
        font-family: "helvetica_neue_lt_std45_light"; }
      .our_section .our_box .box .para_section {
        padding: 6px 0;
        color: #002749; }

.life_news_section {
  padding-bottom: 100px; }
  @media screen and (max-width: 767px) {
    .life_news_section {
      padding-bottom: 60px; } }
  .life_news_section .life_news {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .life_news_section .life_news {
        flex-wrap: wrap; } }
    .life_news_section .life_news .life {
      width: 49%;
      position: relative; }
      @media screen and (max-width: 767px) {
        .life_news_section .life_news .life {
          width: 100%; } }
      .life_news_section .life_news .life .top_head {
        top: 30px;
        left: 30px;
        position: absolute;
        font-size: 16px;
        line-height: 25px;
        color: #2eb8ff;
        text-transform: uppercase;
        font-family: "helvetica_neue_lt_std45_light"; }
      .life_news_section .life_news .life .news_info {
        left: 30px;
        right: 30px;
        bottom: 30px;
        position: absolute;
        color: #fff; }
        .life_news_section .life_news .life .news_info .section_title {
          color: #fff; }
        .life_news_section .life_news .life .news_info .para_section {
          color: #fff;
          padding-bottom: 25px; }
        .life_news_section .life_news .life .news_info .btn .am_button {
          color: #fff; }
      .life_news_section .life_news .life .big_img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .life_news_section .life_news .news {
      width: 49%;
      padding: 40px 25px;
      background-color: #f4f6f8; }
      @media screen and (max-width: 767px) {
        .life_news_section .life_news .news {
          width: 100%; } }
      .life_news_section .life_news .news .news_item_section {
        height: 464px;
        overflow-y: scroll;
        padding-right: 20px; }
        .life_news_section .life_news .news .news_item_section .news_item {
          padding: 15px;
          margin-bottom: 10px;
          transition: all 0.5s; }
          .life_news_section .life_news .news .news_item_section .news_item:last-child {
            margin-bottom: 0; }
          .life_news_section .life_news .news .news_item_section .news_item:hover {
            background-color: #fff; }
          @media screen and (max-width: 992px) {
            .life_news_section .life_news .news .news_item_section .news_item .para_section {
              font-size: 1rem;
              line-height: 1.475rem; } }
          .life_news_section .life_news .news .news_item_section .news_item .date_arrows {
            display: flex;
            padding-bottom: 10px;
            justify-content: space-between; }
            .life_news_section .life_news .news .news_item_section .news_item .date_arrows .date h6 {
              font-size: 16px;
              line-height: 25px;
              color: #8b8b8b;
              font-family: "helvetica_neue_lt_std45_light"; }
            .life_news_section .life_news .news .news_item_section .news_item .date_arrows .arrows img {
              cursor: pointer; }
          .life_news_section .life_news .news .news_item_section .news_item .img_name {
            display: flex;
            align-items: center;
            padding-top: 15px; }
            .life_news_section .life_news .news .news_item_section .news_item .img_name .name {
              padding-left: 20px; }
              .life_news_section .life_news .news .news_item_section .news_item .img_name .name h6 {
                font-weight: 100;
                font-size: 16px;
                line-height: 25px;
                color: #8b8b8b;
                font-family: "helvetica_neue_lt_std45_light"; }

/*# sourceMappingURL=index.css.map */
